$default-color: #E0E0E0;
$default-color-dark: #AEAEAE;

$primary-color: $color-primary;
$primary-color-dark: darken($color-primary, 5%);

$grey-color: #455A64;
$grey-color-dark: #1C313A;

$red-color: #D32F2F;
$red-color-dark: #9A0007;

.button {
   background-color: $primary-color;
   font-family: $font-family-secondary;
   padding: 17.5px 27px;

   border: none;
   border-radius: 16px;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

   color: #ffffff;

   font: {
      weight: 700;
      size: 14px;
   }

   cursor: pointer;

   display: flex;
   align-items: center;
   gap: 10px;

   span[class^=material-icons] {
      font-size: 22px;
   }

   &:hover {
      background: $primary-color-dark;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
   }

   &.normal, &.default {
      background-color: $default-color;
      color: #3f3f3f;

      &:hover {
         background-color: $default-color-dark;
         box-shadow: 0 2px 3px rgba(51, 51, 51, 0.2) !important;
      }
   }

   &.outline {
      background-color: #ffffff;
      border: 1px solid $primary-color;
      border-radius: 6px;
      color: $primary-color;
   }

   &.text:not(:hover) {
      background-color: #ffffff !important;
      border: none;
      color: $primary-color-dark;
   }

   &.text:hover, &.outline:hover {
      background-color: rgba($primary-color-dark, 0.1) !important;
      box-shadow: none !important;
      color: $primary-color;
   }

   &.disableShadow,
   &.disableShadow:hover {
      background-color: $primary-color !important;
      color: #ffffff;
      box-shadow: none !important;
   }

   &:disabled, &:disabled:hover {
      background-color: $default-color !important;
      color: $default-color-dark !important;
      cursor: not-allowed;
      box-shadow: none !important;
   }

   &.text:disabled:hover {
      background-color: unset !important;
   }

   &.icon {
      width: 105px;
      height: 36px;
   }

   &.sm {
      padding: 6px 12px !important;
   }

   &.lg {
      padding: 11px 22px !important;
   }

   &.secondary {
      background: $grey-color;
      box-shadow: 0 2px 3px rgba(69, 90, 100, 0.2);

      &:hover {
         background: $grey-color-dark;
         box-shadow: 0 2px 3px rgba(69, 90, 100, 0.2);
      }
   }

   &.danger {
      background: $red-color;
      box-shadow: 0 2px 3px rgba(211, 47, 47, 0.2);

      &:hover {
         background: $red-color-dark;
         box-shadow: 0 2px 3px rgba(211, 47, 47, 0.2);
      }
   }
}
