$container-min: 1201px;

$container-normal-max: 1200px;
$container-normal-min: 1025px;

$container-small-max: 1024px;
$container-small-min: 981px;

$container-mobile-max: 980px;
$container-mobile-min: 480px;
